@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #212529;
    font-family: "Poppins", sans-serif;
}

[data-aos="fade-up"] {
  transform: translateY(10px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
}

body{
    background-color: whitesmoke;
}
.navbar {
    background-color: rgba(218, 218, 218,0.9);
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.3);
    z-index: 100;
}
.nav-name{
    min-width: 130px;
}

.nav-button{
    display: none;
}

.nav-button input{
    display: none;
}

.nav-button label{
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    width: 35px;
    transition: all ease-in-out 0.5s;
    /* border: 2px solid; */
}

.nav-button label .line{
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background-color: #555;
    transition: all ease-in-out 0.5s;
}

.menu-options{
    position: fixed;
    z-index: 1;
    right: -150px;
    top: 0px;
    min-width: 150px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    padding: 20px;
    transition: all ease-in-out 0.5s;
}

.menu-options ul{
    margin-top: 10vh;
    list-style: none;
}

.menu-options ul a{
    text-decoration: none;
}

.menu-options ul a li{
    margin-bottom: 15px;
    padding: 0px 10px;
    font-weight: 600;
    color: white;
    position: relative;
    transition-duration: 0.3s;
}

.menu-options ul a .underline{
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    transform-origin: left;
    background-color: white;
    transform: scaleX(0);

    transition: transform ease-in-out 0.3s;
}

.menu-options ul a li:hover{
    transform: scale(1.1);
    color: white;
}

.menu-options ul a li:hover .underline{
    transform: scaleX(1);
}

.nav-options {
    height: 100%;
    display: block;
    align-items: center;
}

.navbar .nav-options ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 12px;
    height: 100%;
    align-items: center;
}

.nav-options ul a {
    text-decoration: none;
    height: 100%;
}

.nav-options ul a li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 5px;
    padding: 5px;
    /* border: 2px solid; */
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    position: relative;
    color: gray;
}

.nav-options ul a li .underline {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: black;
    transform: scaleX(0);
    transition: transform ease-in-out 0.3s;
}

.nav-options ul a li:hover .underline {
    transform: scaleX(100%);
}

.nav-options ul a li:hover {
    font-weight: bolder;
    font-size: 13px;
    color: black;
}

.profile-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 25%;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.profile-container .profile-img {
    position: relative;
    object-fit: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 10px;
}

.profile-img::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 255, 0.4);
    bottom: 40%;
    left: 40%;
}

.profile-container .profile-img img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: contain;
    mask-image: linear-gradient(to bottom, white 70%, transparent 90%);
    /* display: none; */
}

.profile-container .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-container .text h1 {
    font-weight: bolder;
    font-size: 50px;
    color: transparent;
    background: linear-gradient(135deg, blue, purple);
    background-clip: text;
}

.profile-container .text h2 {
    padding-left: 12%;
    font-size: 25px;
    color: #555;
}

.profile-container .text h2 span {
    color: blue;
    font-weight: 900;
    font-size: 30px;
}

.profile-container .text h3 {
    color: #555;
    padding-left: 12%;
    font-size: 16px;
}

.profile-container .text .buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 12%;
}

.profile-container .text .buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    transition-duration: 0.3s;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.profile-container .text .buttons button:hover {
    scale: 1.1;
}

#linked-in {
    background-color: #0a66c2;
}

#github {
    background-color: #2b3137;
}

.profile-container .text .buttons button a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.profile-container .text .buttons button a svg {
    filter: invert(1);
}

.profile-container .text .buttons button a .text {
    color: white;
    font-weight: 600;
}

section {
    width: 100%;
    padding: 40px;
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.header-section{
    width: 100%;
}

.about-section h2 {
    color: transparent;
    background: linear-gradient(135deg, blue, purple);
    background-clip: text;
    margin-bottom: 5px;
    font-size: 26px;
    text-align: center;
}

.about-section .devider{
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, blue, purple);
}

.about-section p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #555;
    text-align: center;
}

.skill-section h2 {
    color: transparent;
    background: linear-gradient(135deg, blue, purple);
    background-clip: text;
    margin-bottom: 5px;
    font-size: 26px;
    text-align: center;
}

.skill-section .devider{
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, blue, purple);
}

.skill-section h3{
    align-self: flex-start;
    margin-bottom: 5px;
    color: gray;
}

.skill-section ul{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style: none;
    gap: 20px;
}

.skill-section ul::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

.skill-section ul::-webkit-scrollbar-track {
  background: #f4f1eb; 
  border-radius: 10px;
}

.skill-section ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  transition: background 0.3s ease;
}

.skill-section .programming-languages::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg,rgb(180,180,255),blue);
}

.skill-section .programming-languages::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, blue, rgb(180,180,255));
}

.skill-section .frontend::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg,rgb(180,255,180),green);
}

.skill-section .frontend::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, green, rgb(180,255,180));
}

.skill-section .framework::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg,rgb(255,255,180),rgb(190,136,0));
}

.skill-section .framework::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, rgb(190,136,0), rgb(255,255,180));
}

.skill-section .library::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg,rgb(255,180,180),red);
}

.skill-section .library::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, red, rgb(255,180,180));
}

.skill-section .databases::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg,rgb(180,255,255),rgb(0,135,135));
}

.skill-section .databases::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, rgb(0,135,135), rgb(180,255,255));
}

.skill-section .tech::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg,rgb(180,255,230),rgb(0,143,96));
}

.skill-section .tech::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, rgb(0,143,96), rgb(180,255,230));
}

.skill-section ul li{
    margin-bottom: 15px;
    width: fit-content;
    flex-shrink: 0;
    padding: 8px 10px;
    border-radius: 10px;
    font-weight: 600;
}

.programming-languages li{
    background-color: rgb(180, 180, 255);
    color: blue;
}

.frontend li{
    background-color: rgb(180, 255, 180);
    color: green
}

.framework li{
    background-color: rgb(255, 255, 180);
    color: rgb(190, 136, 0);
}

.library li{
    background-color: rgb(255, 180, 180);
    color: red;
}

.databases li{
    background-color: rgb(180, 255, 255);
    color: rgb(0, 135, 135);
}

.tech li{
    background-color: rgb(180, 255, 230);
    color: rgb(0, 143, 96);
}

.projects-section h2 {
    color: transparent;
    background: linear-gradient(135deg, blue, purple);
    background-clip: text;
    margin-bottom: 5px;
    font-size: 26px;
    text-align: center;
}

.projects-section .devider{
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, blue, purple);
}

.project-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.project-wrapper .toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50%;
    min-height: 80px;
    border: none;
    padding: 15px;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    transition: all ease-in-out 0.3s 0.1s;
}

.project-wrapper .toggle h4{
    transition: all ease-in-out 0.3s 0.1s;
    position: absolute;
    top: 28px;
}

.project-wrapper .toggle::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, blue, purple);
    z-index: -1;
    transform-origin: bottom;
    transform: scaleY(0.1);
    border-radius: inherit;
    transition: all ease-in-out 0.4s;
}

.project-wrapper .toggle:hover{
    cursor: pointer;
}

.project-wrapper .toggle.active h4{
    color: white;
}

.project-wrapper .toggle.active::after{
    transform: scaleY(1);
}

.project-wrapper .toggle .project-container{
    width: 90%;
    height: 80%;
    margin-top: 60px;
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3) inset;
}

.project-wrapper .toggle .project-container .screenshot{
    width: 90%;
    height: 30%;
    margin-bottom: 10px;
}

.project-wrapper .toggle .project-container .screenshot img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-wrapper .toggle .project-container p{
    font-size: 45%;
    color: #555;
    text-align: justify;
}

.navigation-buttons{
    margin-top: 10px;
    width: 100%;
    padding: 0px 10px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.navigation-buttons a{
    font-size: 60%;
    width: 50%;
    border: 2px solid;
    text-decoration: none;
    background-color: gray;
    color: white;
    border-radius: 8px;
    padding: 3px;
    transition-duration: 0.4s;
    transition: all ease-in-out 0.3s 0.1s;
}

.navigation-buttons a:hover{
    background-color: black;
}

.contact-section{
    box-shadow: none;
}

.contact-section h2 {
    color: transparent;
    background: linear-gradient(135deg, blue, purple);
    background-clip: text;
    margin-bottom: 5px;
    font-size: 26px;
    text-align: center;
}

.contact-section .devider{
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, blue, purple);
}

.contact-section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.contact-section ul li{
    margin-bottom: 20px;
    width: 100%;
}

.contact-section ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    width: 100%;
    padding: 15px;
    background: whitesmoke;
    border-radius: 10px;
    position: relative;
    font-weight: 600;
}

.contact-section ul li a img,span,svg{
    z-index: 1;
}

.contact-section ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 0;
    transform-origin: bottom;
    transform: scaleY(0.1);
    transition: all ease-in-out 0.4s;
}

.contact-section ul li .mail::after{
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.contact-section ul li .insta::after{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.contact-section ul li .linkedin::after{
    background-color: #0a66c2;
}

.contact-section ul li .github::after{
    background-color: #2b3137;
}

.contact-section ul li a:hover::after{
    transform: scaleY(1);
}

.contact-section ul li a:hover img{
    filter: invert(1);
}

.contact-section ul li a:hover svg{
    filter: invert(1);
}

.contact-section ul li a:hover .text{
    color: white;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 14px;
    background: linear-gradient(white,black);
}

footer .text{
    color: white;
}

footer .sign{
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 3px;
}

footer .sign span{
    color: white;
    font-size: 10px;
}

@media screen and (max-width: 768px) {
    .nav-button{
        display: block;
    }

    .nav-options{
        display: none;
    }

    .profile-container {
        flex-direction: column;
    }

    .profile-container .text {
        width: 90%;
        text-align: center;
    }

    .profile-container .text h2,
    .profile-container .text h3 {
        padding-left: 0;
    }

    .profile-container .text .buttons {
        justify-content: center;
        margin-left: 0;
    }

    .project-wrapper .toggle{
        width: 90%;
    }

}
